.place{
grid-template-columns: 1fr minmax(220px,1fr);
    margin: 0;
    margin-bottom: 80px;
    justify-content: center;
    display: grid;
    column-gap:40px;
    row-gap:48px;
    grid-template-rows: auto;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph"
    "place__image place__paragraph";
    }

    .place:last-child{
        grid-template-columns: 1fr minmax(220px,1fr);
            margin: 0px;
            margin-bottom: 0px;
            justify-content: center;
            display: grid;
            column-gap:40px;
            row-gap:48px;
            grid-template-rows: auto;
            grid-template-areas:
            "place__title place__website"
            "place__image place__paragraph"
            "place__image place__paragraph";
            }
            
            
@media screen and (max-width: 1024px) {
    .place {
    padding-left: 48px;
    
    
    }
}   
    

@media screen and (max-width: 768px) {
    .place {
     padding-left: 48px;

    }
}

@media screen and (max-width: 615px) {
    .place {
     display: flex;
     flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .place {
     display: flex;
     flex-direction: column;
     padding-left: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .place:last-child {
    padding-left: 48px;
    
    
    }
}   
    

@media screen and (max-width: 768px) {
    .place:last-child {
     padding-left: 48px;

    }
}

@media screen and (max-width: 615px) {
    .place:last-child {
     display: flex;
     flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .place:last-child {
     display: flex;
     flex-direction: column;
     padding-left: 16px;
    }
}